{% load static %}
<link rel="stylesheet" href="{% static 'css\sidebar.css' %}">
<div class="container">
    <div class="sidebar">
      <input type="text" class="sidebar-search" placeholder="Search something...">

      <a href="#" class="sidebar-items">
        ป้ายไวนิล
      </a>
      <a href="#" class="sidebar-items">
        ป้ายสติ๊กเกอร์ 
      </a>
      <a href="#" class="sidebar-items">
        ป้ายรีดโฟมบอร์ด
      </a>
      <a href="#" class="sidebar-items">
        ป้ายรีดฟิวเจอร์บอร์ด
     </a>
        <a href="#" class="sidebar-items">
        ป้ายอักษรพลาสวูด
        </a>
      <a href="#" class="sidebar-items">
        ป้ายกล่องไฟ
    </a>
    </div>