{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping Cart</title>
</head>
<body>
    {% include 'base/tab_login.html' %}
    {% include 'app/components/site_header.html' %}
    <div>
        <h2>ตะกร้าสินค้า</h2>
        {% for cart_item in cart_items %}
            <p>{{ cart_item.product.title }} - Quantity: {{ cart_item.quantity }}</p>
        {% endfor %}

        <p>Total Quantity: {{ total_quantity }}</p>
        <p>Total Price: ${{ total_price }}</p>
    </div>
</body>
</html>
