<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="globals.css" />
        <title>ร้านบุญตา</title>
    </head>
    <body>
        {% include 'base/tab_login.html' %}
        {% include 'app/components/site_header.html' %}
        {% include 'tab/sidebar.html' %}
        <div class="box" id="content">
            <div class="group">
                <div class="overlap-group">
                    <div class="rectangle"></div>
                    <img class="img" src="img/rectangle-22.png" />
                    <div class="text-wrapper">Line ID :@wasdwadsawds</div>
                    <div class="div">โทรศัพท์ : 0981234567</div>
                    <div class="text-wrapper-2">ชื่อร้าน</div>
                    <div class="text-wrapper-3">Email : wasd@gmail.com</div>
                    <img class="line" src="img/line-1.svg" />
                    <div class="text-wrapper-4">ช่องทางการติดต่อ</div>
                </div>
            </div>
        </div>
    </body>
</html>
