body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: auto;
    background-color: #f8f9fa;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
  }
  
  .contag-container {
    max-width: 600px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 20px;
    text-align: center;
    margin: auto;
  }
  
  .contag-name {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .contag-info {
    font-size: 16px;
    color: #868e96;
    margin-bottom: 20px;
  }
  
  .contag-description {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  form {
    margin-top: 20px;
  }
  
  