.screen {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .screen .div {
    background-color: #ffffff;
    overflow: hidden;
    width: 1440px;
    height: 1024px;
    position: relative;
  }
  
  .screen .overlap {
    position: absolute;
    width: 1454px;
    height: 188px;
    top: 0;
    left: 0;
  }
  
  .screen .group {
    position: absolute;
    width: 1454px;
    height: 63px;
    top: 0;
    left: 0;
  }
  
  .screen .overlap-group {
    position: relative;
    width: 1452px;
    height: 63px;
  }
  
  .screen .frame {
    position: absolute;
    width: 1440px;
    height: 63px;
    top: 0;
    left: 0;
    background-color: #ded8d8c4;
  }
  
  .screen .overlap-group-2 {
    position: absolute;
    width: 242px;
    height: 41px;
    top: 11px;
    left: 29px;
    background-color: #eac4c4;
  }
  
  .screen .magnifying-glass {
    position: absolute;
    width: 26px;
    height: 26px;
    top: 7px;
    left: 12px;
  }
  
  .screen .text-wrapper {
    width: 52px;
    top: 7px;
    left: 95px;
    font-family: "Inter-Regular", Helvetica;
    font-size: 18px;
    position: absolute;
    font-weight: 400;
    color: #000000;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .user-multiple-group {
    position: absolute;
    width: 23px;
    height: 23px;
    top: 16px;
    left: 1327px;
  }
  
  .screen .text-wrapper-2 {
    width: 96px;
    top: 18px;
    left: 1356px;
    font-family: "Inter-Regular", Helvetica;
    font-size: 18px;
    position: absolute;
    font-weight: 400;
    color: #000000;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .overlap-wrapper {
    position: absolute;
    width: 1448px;
    height: 128px;
    top: 60px;
    left: 0;
  }
  
  .screen .overlap-2 {
    position: relative;
    width: 1440px;
    height: 128px;
    background-color: #ffffff;
  }
  
  .screen .text-wrapper-3 {
    top: 53px;
    left: 777px;
    font-family: "Inter-Regular", Helvetica;
    font-size: 18px;
    position: absolute;
    font-weight: 400;
    color: #000000;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .text-wrapper-4 {
    top: 53px;
    left: 985px;
    font-family: "Inter-Regular", Helvetica;
    font-size: 18px;
    position: absolute;
    font-weight: 400;
    color: #000000;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .text-wrapper-5 {
    top: 53px;
    left: 1167px;
    font-family: "Inter-Regular", Helvetica;
    font-size: 18px;
    position: absolute;
    font-weight: 400;
    color: #000000;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .overlap-group-3 {
    position: absolute;
    width: 100px;
    height: 128px;
    top: 0;
    left: 861px;
  }
  
  .screen .rectangle {
    width: 100px;
    height: 128px;
    top: 0;
    background-color: #d9d9d9;
    opacity: 0.5;
    position: absolute;
    left: 0;
  }
  
  .screen .text-wrapper-6 {
    top: 53px;
    left: 30px;
    font-family: "Inter-Regular", Helvetica;
    font-size: 18px;
    position: absolute;
    font-weight: 400;
    color: #000000;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .overlap-3 {
    position: absolute;
    width: 1440px;
    height: 1544px;
    top: 188px;
    left: 0;
  }
  
  .screen .group-2 {
    position: absolute;
    width: 1440px;
    height: 836px;
    top: 0;
    left: 0;
    background-color: #e6e2e2;
  }
  
  .screen .view {
    position: absolute;
    width: 377px;
    height: 806px;
    top: 15px;
    left: 29px;
  }
  
  .screen .overlap-4 {
    position: relative;
    width: 361px;
    height: 806px;
  }
  
  .screen .rectangle-2 {
    width: 360px;
    height: 806px;
    top: 0;
    background-color: #ffffff;
    border-radius: 58px;
    position: absolute;
    left: 0;
  }
  
  .screen .rectangle-3 {
    width: 361px;
    height: 100px;
    top: 401px;
    background-color: #d9d9d9;
    opacity: 0.5;
    position: absolute;
    left: 0;
  }
  
  .screen .rectangle-4 {
    width: 361px;
    height: 100px;
    top: 601px;
    background-color: #d9d9d9;
    opacity: 0.5;
    position: absolute;
    left: 0;
  }
  
  .screen .text-wrapper-7 {
    top: 28px;
    left: 94px;
    font-family: "Inter-Regular", Helvetica;
    font-size: 30px;
    white-space: nowrap;
    position: absolute;
    font-weight: 400;
    color: #000000;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .rectangle-5 {
    width: 361px;
    height: 100px;
    top: 201px;
    background-color: #d9d9d9;
    opacity: 0.5;
    position: absolute;
    left: 0;
  }
  
  .screen .text-wrapper-8 {
    top: 236px;
    left: 40px;
    font-family: "Inter-Regular", Helvetica;
    font-size: 24px;
    position: absolute;
    font-weight: 400;
    color: #000000;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .text-wrapper-9 {
    top: 637px;
    left: 36px;
    font-family: "Inter-Regular", Helvetica;
    font-size: 24px;
    position: absolute;
    font-weight: 400;
    color: #000000;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .line {
    width: 360px;
    top: 102px;
    left: 0;
    position: absolute;
    height: 1px;
    object-fit: cover;
  }
  
  .screen .text-wrapper-10 {
    top: 136px;
    left: 40px;
    font-family: "Inter-Regular", Helvetica;
    font-size: 24px;
    position: absolute;
    font-weight: 400;
    color: #000000;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .text-wrapper-11 {
    top: 434px;
    left: 40px;
    font-family: "Inter-Regular", Helvetica;
    font-size: 24px;
    position: absolute;
    font-weight: 400;
    color: #000000;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .text-wrapper-12 {
    top: 536px;
    left: 40px;
    font-family: "Inter-Regular", Helvetica;
    font-size: 24px;
    position: absolute;
    font-weight: 400;
    color: #000000;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .text-wrapper-13 {
    top: 736px;
    left: 40px;
    font-family: "Inter-Regular", Helvetica;
    font-size: 24px;
    position: absolute;
    font-weight: 400;
    color: #000000;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .text-wrapper-14 {
    top: 336px;
    left: 40px;
    font-family: "Inter-Regular", Helvetica;
    font-size: 24px;
    position: absolute;
    font-weight: 400;
    color: #000000;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .exclude {
    position: absolute;
    width: 1014px;
    height: 821px;
    top: 15px;
    left: 390px;
  }
  
  .screen .img {
    width: 770px;
    top: 194px;
    left: 450px;
    position: absolute;
    height: 1px;
    object-fit: cover;
  }
  
  .screen .text-wrapper-15 {
    top: 179px;
    left: 1229px;
    font-family: "Inter-Regular", Helvetica;
    font-size: 24px;
    position: absolute;
    font-weight: 400;
    color: #000000;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .group-3 {
    position: absolute;
    width: 907px;
    height: 1317px;
    top: 227px;
    left: 448px;
  }
  
  .screen .div-wrapper {
    position: absolute;
    width: 396px;
    height: 251px;
    top: 353px;
    left: 491px;
    background-color: #d9d9d9;
    border-radius: 53px;
  }
  
  .screen .text-wrapper-16 {
    top: 111px;
    left: 138px;
    font-family: "Inter-Regular", Helvetica;
    font-size: 24px;
    position: absolute;
    font-weight: 400;
    color: #000000;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .overlap-5 {
    position: absolute;
    width: 396px;
    height: 251px;
    top: 353px;
    left: 0;
    background-color: #d9d9d9;
    border-radius: 53px;
  }
  
  .screen .overlap-6 {
    position: absolute;
    width: 396px;
    height: 251px;
    top: 0;
    left: 493px;
    background-image: url(./img/rectangle-34.svg);
    background-size: 100% 100%;
  }
  
  .screen .images {
    position: absolute;
    width: 392px;
    height: 245px;
    top: 0;
    left: 2px;
    object-fit: cover;
  }
  
  .screen .overlap-7 {
    position: absolute;
    width: 396px;
    height: 251px;
    top: 0;
    left: 2px;
    background-color: #d9d9d9;
    border-radius: 53px;
  }
  
  .screen .overlap-8 {
    position: absolute;
    width: 396px;
    height: 251px;
    top: 1066px;
    left: 495px;
    background-color: #d9d9d9;
    border-radius: 53px;
  }
  
  .screen .overlap-9 {
    position: absolute;
    width: 396px;
    height: 251px;
    top: 1066px;
    left: 4px;
    background-color: #d9d9d9;
    border-radius: 53px;
  }
  
  .screen .overlap-10 {
    position: absolute;
    width: 396px;
    height: 251px;
    top: 713px;
    left: 495px;
    background-color: #d9d9d9;
    border-radius: 53px;
  }
  
  .screen .overlap-11 {
    position: absolute;
    width: 396px;
    height: 251px;
    top: 713px;
    left: 4px;
    background-color: #d9d9d9;
    border-radius: 53px;
  }
  
  .screen .text-wrapper-17 {
    top: 489px;
    left: 517px;
    font-family: "Alata-Regular", Helvetica;
    font-size: 24px;
    position: absolute;
    font-weight: 400;
    color: #000000;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .text-wrapper-18 {
    left: 517px;
    position: absolute;
    top: 522px;
    font-family: "Alata-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .text-wrapper-19 {
    top: 489px;
    left: 985px;
    font-family: "Alata-Regular", Helvetica;
    font-size: 24px;
    position: absolute;
    font-weight: 400;
    color: #000000;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .element {
    position: absolute;
    width: 400px;
    height: 250px;
    top: 581px;
    left: 935px;
  }
  
  .screen .text-wrapper-20 {
    left: 985px;
    position: absolute;
    top: 522px;
    font-family: "Alata-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .crop {
    position: absolute;
    width: 418px;
    height: 263px;
    top: 227px;
    left: 448px;
    object-fit: cover;
  }
  
  .screen .light-box {
    position: absolute;
    width: 392px;
    height: 246px;
    top: 585px;
    left: 452px;
  }
  